<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="CE.SDK Examples"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <!-- Engine deployment mode (see EngineMode), fed by env-driven
             placeholders from build.gradle. -->
        <meta-data
            android:name="ly.img.engine.INTERNAL_DEPLOY"
            android:value="${imglyEngineInternalDeploy}" />
        <meta-data
            android:name="ly.img.engine.ENABLE_LOGGING"
            android:value="${imglyEngineLogging}" />
        <meta-data
            android:name="ly.img.engine.STAGING_LICENSE"
            android:value="${imglyEngineStagingLicense}" />
        <meta-data
            android:name="ly.img.engine.OVERRIDE_TRACKING_ENDPOINT"
            android:value="${imglyEngineTrackingEndpoint}" />
        <activity
            android:name=".ExamplesActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="examples"
                    android:scheme="imgly" />
            </intent-filter>
        </activity>
    </application>
</manifest>
